{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block specific_css %}
    {# head block#}
    <link rel="stylesheet" type="text/css" href="{% static 'table.css' %}">
{% endblock %}


{% block content %}
    {# form 을 잘 수신 했는지?   #}
    {% if form %}
        <h1>received form</h1>
    {% endif %}

    <div class="container my-5">
        <div class="d-flex">
            <h3 class="me-auto mt-auto">주류 가격 정보 공유</h3>
            <button
                    class="btn btn-secondary fs-5"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse_price_info"

                    {# 접근성 항목 #}
                    {# 만약 callapse 가 기본으로 열려있을 경우 접근성 컨트롤 요소에 aria-expanded="true" 가 필요함 #}
                    aria-expanded="{{ aria_expanded_true|default_if_none:'false' }}"
                    aria-controls="collapse_price_info">정보 등록하기
            </button>
        </div>
        {# Input collapse table form start form here #}
        {# collapse_show|default_if_none:'' 가격 레코드 생성에 실패 했을때 다시 열린 페이지에 정보 등록 Callapse 가 열려있도록 #}
        <div class="my-4 collapse {{ collapse_show|default_if_none:'' }}" id="collapse_price_info">
            <form action="{% url 'market_price:insert_price_info' %}" method="post">
                {% csrf_token %}
                <table class="table_css table table-sm table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">대분류</th>
                        <th scope="col">소분류</th>
                        <th scope="col" class="col-2">이름</th>
                        <th scope="col">라인업</th>
                        <th scope="col" class="col-1">숙성년도</th>
                        <th scope="col" class="col-1">가격(₩)</th>
                        <th scope="col">용량(ml)</th>
                        <th scope="col">구매처</th>
                        <th scope="col" class="col-1">확인날짜</th>
                        <th scope="col">비고</th>
                    </tr>
                    </thead>
                    <tbody class="border-bottom border-dark">


                    <tr>
                        <th scope="row">예)</th>
                        <td>위스키</td>
                        <td>블랜디드</td>
                        <td>폴라워커</td>
                        <td>브라운라벨</td>
                        <td>8</td>
                        <td>60000</td>
                        <td>700</td>
                        <td>폴라마트</td>
                        <td>2022/04/26</td>
                        <td>2022한정판</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>
                            <label><input name="category_1" id="category_1" type="text" style="width:5rem;"
                                          class="table_input_text_css"
                                          value="{{ form.category_1.value|default_if_none:'' }}"></label>
                        </td>
                        <td>
                            <label><input name="category_2" id="category_2" type="text" style="width:5rem;"
                                          class="table_input_text_css"
                                          value="{{ form.category_2.value|default_if_none:'' }}"></label>
                        </td>
                        <td>
                            <label><input name="liqueur_name" id="liqueur_name" type="text"
                                          style="width:8rem;" class="table_input_text_css_required"
                                          placeholder="필수"
                                          value="{{ form.liqueur_name.value|default_if_none:'' }}"></label></td>
                        <td>
                            <label><input name="lineup" id="lineup" type="text" style="width:6rem;"
                                          class="table_input_text_css"
                                          value="{{ form.lineup.value|default_if_none:'' }}"></label>
                        </td>
                        <td>
                            <label><input name="aged" id="aged" type="text" style="width:4em;"
                                          class="table_input_text_css" value="{{ form.aged.value|default_if_none:'' }}"></label>
                        </td>
                        <td>
                            <label><input name="price" id="price" type="text" style="width:6rem;"
                                          class="table_input_text_css_required" placeholder="필수"
                                          value="{{ form.price.value|default_if_none:'' }}"></label>
                        </td>
                        <td>
                            <label><input name="size" id="size" type="text" style="width:6rem;"
                                          class="table_input_text_css_required" placeholder="필수"
                                          value="{{ form.size.value|default_if_none:'' }}"></label>
                        </td>
                        <td>
                            <label><input name="purchasing_route" id="purchasing_route" type="text"
                                          style="width:6rem;" class="table_input_text_css_required"
                                          value="{{ form.purchasing_route.value|default_if_none:'' }}"
                                          placeholder="필수"></label>
                        </td>
                        <td>
                            <label><input name="confirmation_date" id="confirmation_date" type="date"
                                          style="width:8rem;" class="table_input_text_css_required mt-1"
                                          value="{{ form.confirmation_date.value|default_if_none:'' }}"></label>
                        </td>
                        <td>
                            <label><input name="note" id="note" type="text" style="width:6rem;"
                                          class="table_input_text_css" value="{{ form.note.value|default_if_none:'' }}"></label>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div>
                    <input type="submit" value="제출" class="btn btn-secondary fs-5 float-end mb-5" style="width: 8rem">
                </div>
            </form>

            {# Show error massages #}
            <div>
                <span>{{ form.errors }}</span>
            </div>
        </div>
        {# Collapse table code ended at this poiint #}


        {# START PRICE TABLE FROM HERE #}
        {% if price_list %}
            {#  If there is no price data, It does not create table #}
            <div class="mt-4 table-responsive-sm">
                {# "table_css" includes: background-color #}
                <table class="table_css table table-sm table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">대분류</th>
                        <th scope="col">소분류</th>
                        <th scope="col" class="col-3">이름</th>
                        <th scope="col">라인업</th>
                        <th scope="col" class="col-1">숙성년도</th>
                        <th scope="col" class="col-1">가격</th>
                        <th scope="col">용량</th>
                        <th scope="col">구매처</th>
                        <th scope="col" class="col-1">확인날짜</th>
                        <th scope="col">비고</th>
                    </tr>
                    </thead>
                    <tbody class="border-bottom border-dark">

                    {% for price in price_list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ price.category_1 }}</td>
                            <td>{{ price.category_2 }}</td>
                            <td>{{ price.liqueur_name }}</td>
                            <td>{{ price.lineup }}</td>

                            {# 숙성년도 값이 None 이라면 year 을 표시하지 않음 #}
                            {% if price.aged %}
                                <td>{{ price.aged }} year</td>
                            {% else %}
                                <td>{{ price.aged }}</td>
                            {% endif %}

                            <td>₩ {{ price.price | intcomma }}</td>
                            <td>{{ price.size }} ml</td>
                            <td>{{ price.purchasing_route }}</td>
                            <td>{{ price.confirmation_date|date:'Y/m/d' }}</td>
                            <td>{{ price.note }}</td>
                        </tr>
                    {% endfor %}



                    {# Dummy Data - blue color table #}
                    {% for price in price_list_dummy %}

                        {# class="table_css_dummy" includes: Dummyu data recorde color -> blue #}
                        <tr class="table_css_dummy">

                            {# Dummy price_list forloop counter follows index of real prices #}
                            <th scope="row">{{ forloop.counter|add:price_list.count }}</th>
                            <td>{{ price.category_1 }}</td>
                            <td>{{ price.category_2 }}</td>
                            <td>{{ price.liqueur_name }} ** 더미데이터 입니다</td>
                            <td>{{ price.lineup }}</td>

                            {# 숙성년도 값이 None 이라면 year 을 표시하지 않음 #}
                            {% if price.aged %}
                                <td>{{ price.aged }} year</td>
                            {% else %}
                                <td>{{ price.aged }}</td>
                            {% endif %}

                            <td>₩ {{ price.price | intcomma }}</td>
                            <td>{{ price.size }} ml</td>
                            <td>{{ price.purchasing_route }}</td>
                            <td>{{ price.confirmation_date|date:'Y/m/d' }}</td>
                            <td>{{ price.note }}</td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>

        {% else %}
            {#  레코드가 1개도 없을 때 #}
            <div class="mt-4">
                <span>데이터가 없습니다.</span>
            </div>
        {% endif %}

    </div>

{% endblock %}