{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block specific_css %}
    {# head block#}
    <link rel="stylesheet" type="text/css" href="{% static 'table.css' %}">
{% endblock %}


{% block content %}


    <div class="container my-5 opacity-100">
        <h3>주류 가격 정보 공유</h3>

        {% if price_list %}
            {#  If there is no price data, It does not create table #}
            <div class="mt-4">
                {# "table_css" includes: background-color #}
                <table class="table_css table table-sm table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">대분류</th>
                        <th scope="col">소분류</th>
                        <th scope="col">이름</th>
                        <th scope="col">라인업</th>
                        <th scope="col">숙성년도</th>
                        <th scope="col">가격</th>
                        <th scope="col">용량</th>
                        <th scope="col">구매처</th>
                        <th scope="col">확인날짜</th>
                        <th scope="col">비고</th>
                    </tr>
                    </thead>
                    <tbody class="border-bottom border-dark">

                    {% for price in price_list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ price.category_1 }}</td>
                            <td>{{ price.category_2 }}</td>
                            <td>{{ price.name }}</td>
                            <td>{{ price.lineup }}</td>

                            {# 숙성년도 값이 None 이라면 year 을 표시하지 않음 #}
                            {% if price.aged %}
                                <td>{{ price.aged }} year</td>
                            {% else %}
                                <td>{{ price.aged }}</td>
                            {% endif %}

                            <td>₩ {{ price.price | intcomma }}</td>
                            <td>{{ price.size }} ml</td>
                            <td>{{ price.purchasing_route }}</td>
                            <td>{{ price.confirmation_date }}</td>
                            <td>{{ price.note }}</td>
                        </tr>
                    {% endfor %}



                    {# Dummy Data - blue color table #}
                    {% for price in price_list_dummy %}

                        {# class="table_css_dummy" includes: Dummyu data recorde color -> blue #}
                        <tr class="table_css_dummy">

                            {# Dummy price_list forloop counter follows index of real prices #}
                            <th scope="row">{{ forloop.counter|add:price_list.count }}</th>
                            <td>{{ price.category_1 }}</td>
                            <td>{{ price.category_2 }}</td>
                            <td>{{ price.name }} ** 더미데이터 입니다</td>
                            <td>{{ price.lineup }}</td>

                            {# 숙성년도 값이 None 이라면 year 을 표시하지 않음 #}
                            {% if price.aged %}
                                <td>{{ price.aged }} year</td>
                            {% else %}
                                <td>{{ price.aged }}</td>
                            {% endif %}

                            <td>₩ {{ price.price | intcomma }}</td>
                            <td>{{ price.size }} ml</td>
                            <td>{{ price.purchasing_route }}</td>
                            <td>{{ price.confirmation_date }}</td>
                            <td>{{ price.note }}</td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>

        {% else %}
            {#  레코드가 1개도 없을 때 #}
            <div class="mt-4">
                <span>데이터가 없습니다.</span>
            </div>
        {% endif %}

    </div>

{% endblock %}