{% extends 'base.html' %}
{% load static %}

{% block specific_css %}
    {# This block is located inside of <head>    #}
    <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="container mb-3">
            <h1>Profile</h1>
        </div>
        <div class="row">
            <div class="container profile_card_outer_css">

                <form action="{% url 'profile:update' own_profile.user.username %}" method="POST"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card col-lg-6 py-2 px-2 profile_card_css">
                        {#  Wallpaper  #}
                        {% if own_profile.wallpaper %}
                            <img src="{{ own_profile.wallpaper.url }}" class="profile_wallpaper_css"
                                 alt="profile_wallpaper">
                        {% else %}
                            <div class="profile_wallpaper_css" style="background-color: #361500e6"></div>
                        {% endif %}
                        {# Profile image #}
                        <div class="profile_picture_outer_div_css">
                            {% if own_profile.image %}
                                <img src="{{ own_profile.image.url }}" class="card-img-top profile_image_css"
                                     alt="profile picture">
                            {% else %}
                                <img src="{% static 'icons/person.svg' %}" class="card-img-top blank_profile_image_css"
                                     alt="empty profile picture">
                            {% endif %}
                        </div>


                        <div class="card-body profile_contents">
                            <h4 class="card-title my-2">@{{ own_profile.user.username }} 님의 프로필을 수정합니다</h4>
                            <hr>
                            <p>프로필 배경 이미지 변경:
                                <input type="file"
                                       name="wallpaper"
                                       id="wallpaper"
                                       accept="image/png, image/jpeg"
                                >
                            </p>
                            <p>프로필 이미지 변경:
                                <input type="file"
                                       name="image"
                                       id="image"
                                       accept="image/png, image/jpeg"
                                >
                            </p>
                            <p>
                                <label for="nickname">닉네임:</label>
                                <input
                                        type="text"
                                        name="nickname"
                                        id="nickname"
                                        class="profile_update_text_input_css"
                                        autocomplete="off"
                                        value="{{ own_profile.nickname }}"
                                >
                            </p>
                            <p class="card-text mt-4" style="min-height: 3rem">
                                {#                                <span>프로필 메시지:<br></span>#}
                                <label for="introduce">프로필 메시지</label>
                                <textarea
                                        name="introduce"
                                        id="introduce"
                                        rows="2"
                                        class="mt-2 profile_update_textarea_input_css"
                                >{{ own_profile.introduce }}</textarea>
                            </p>
                            <p>
                                {{ form.errors }}
                            </p>
                        </div>
                        <div class="card-body">
                            <a href="#" class="profile_link_css card-link">Card link</a>
                            <a href="#" class="profile_link_css card-link">Another link</a>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="profile_list_css list-group-item" style="border-top: none;">
                                <input type="submit" value="제출" class="btn btn-secondary fs-5" style="width: 8rem;">
                            </li>
                        </ul>

                    </div>

                </form>
            </div>
        </div>
    </div>



{% endblock %}