{% extends 'base.html' %}
{% load static %}

{% block specific_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="mb-5">
            <h1>Sign Up </h1>
            <h3>Create account using CreateView and User</h3>
        </div>
        <div class="row mt-4">
            <form action="{% url 'users:create' %}" method="post">
                {% csrf_token %}

                <p>
                    <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                    <input type="text"
                           name="{{ form.username.html_name }}"
                           id="{{ form.username.id_for_label }}"
                           class="text_input_css"
                           autocomplete="off"
                    >
                </p>
                <p>
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    <input
                            type="text"
                            name="{{ form.email.html_name }}"
                            id="{{ form.email.id_for_label }}"
                            class="text_input_css"
                    >
                </p>
                <p>
                    <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                    <input
                            type="password"
                            name="{{ form.password1.html_name }}"
                            id="{{ form.password1.id_for_label }}"
                            class="text_input_css"
                    >
                </p>
                <p>
                    <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                    <input
                            type="password"
                            name="{{ form.password2.html_name }}"
                            id="{{ form.password2.id_for_label }}"
                            class="text_input_css"
                    >
                </p>
{#                <p>#}
{#                    {{ form.username.label }}#}
{#                    {{ form.username }}#}
{#                    {{ form.username.errors }}#}
{#                </p>#}
{#                <p>#}
{#                    {{ form.email.label }}#}
{#                    {{ form.email }}#}
{#                    {{ form.email.errors }}#}
{#                </p>#}
{#                <p>#}
{#                    {{ form.password1.label }}#}
{#                    {{ form.password1 }}#}
{#                    {{ form.password1.errrors }}#}
{#                </p>#}
{#                <p>#}
{#                    {{ form.password2.label }}#}
{#                    {{ form.password2 }}#}
{#                    {{ form.password2.errors }}#}
{#                </p>#}

                {#                {{ form.as_p }}#}
                <p><input type="submit" class="btn btn-secondary fs-5 mt-4" style="width: 8rem;"></p>

            </form>
        </div>
    </div>
{% endblock %}