.table_css {
    background-color: #CE9461;
}

.paginator_css, .paginator_css:focus, .paginator_css:active, .paginator_css:hover {
    background-color: #CE9461;
    border: black solid 1px;
    color: black;
}

.paginator_css_disabled, .paginator_css_disabled:focus, .paginator_css_disabled:active, .paginator_css_disabled:hover {
    background-color: #CE9461;
    border: black solid 1px;
    color: gray;

}

.subject_link_css {
    color: black;
    text-decoration-line: none;

}

.subject_link_css:hover {
    color: #A64B2A;
}

.detail_card_css {
    background-color: #CE9461;
    color: black;
}

.detail_secondary_css {
    background-color: #b98355;
    color: black;
}

.content_text_css {
    min-height: 20rem;
    font-family: 'Hi Melody', cursive;
    font-size: 1.2em;
}


.free_talk_text_input_css {
    background: rgba(255, 255, 255, 0.0);
    border: none;
    outline: none;
    margin: 0 0 0 1rem;
    color: black;
    display: block;
    width: 80%;
}

.free_talk_subject_update_css {
    background: rgba(255, 255, 255, 0.0);
    border: none;
    border-bottom: solid 1px #361500e6;
    outline: none;
    color: black;
    display: block;
    width: 80%;
}


.free_talk_subject_update_css:-webkit-autofill,
.free_talk_subject_update_css:-webkit-autofill:hover,
.free_talk_subject_update_css:-webkit-autofill:focus,
.free_talk_subject_update_css:-webkit-autofill:active {
    background: rgba(255, 255, 255, 0.0);
    border: none;
    border-bottom: solid 1px #361500e6;
    outline: none;
    color: black;
    display: block;
    width: 80%;
}


.free_talk_text_input_css:-webkit-autofill,
.free_talk_text_input_css:-webkit-autofill:hover,
.free_talk_text_input_css:-webkit-autofill:focus,
.free_talk_text_input_css:-webkit-autofill:active {
    background: rgba(255, 255, 255, 0.0);
    border: none;
    outline: none;
    margin: 0 0 0 1rem;
    color: black;
    display: block;
    width: 80%;
}

.free_talk_textarea_input_css {
    background: rgba(255, 255, 255, 0.0);
    /*border: none;*/
    border: solid 1px black;
    outline: none;
    display: block;
    min-height: 30rem;
    width: 98%;
    color: black;
    padding: 1.3rem;
}

.form_image_upload_css a{
    color: black;
}