.profile_card_css {
    background-color: #CE9461;
}

.profile_card_update_css {
    background-color: #CE9461;
    color: #361500;
}


.profile_wallpaper_css {
    background-color: #A64B2A;
    padding: 4px;
    object-position: 0 70%;
    object-fit: cover;
    max-height: 12rem;
    min-height: 12rem;
    max-width: inherit;
    opacity: 0.9;
}

.profile_picture_outer_div_css {
    padding: 4px;
    width: 8rem;
    height: 8rem;
    background-color: #A64B2A;
    position: relative;
    top: -4rem;
    left: 0.5rem;
    /*border: solid 2px #CE9461;*/
}

.blank_profile_image_css {
    filter: invert(94%) sepia(12%) saturate(788%) hue-rotate(323deg) brightness(95%) contrast(88%);
}

.profile_image_css {
    object-position: 0 90%;
    position: relative;
    height: 7.47rem;
    object-fit: cover;
}

.profile_contents {
    margin: -4rem 0 0 0;
    color: black;
}


.profile_list_css {
    /*background-color: #00ff0000;*/
    background-color: #CE9461;
    color: black;
}

.profile_link_css {
    color: black;
}


.profile_update_text_input_css {
    background: rgba(255, 255, 255, 0.0);
    border: none;
    border-bottom: solid 2px #361500e6;
    outline: none;
    margin: 0 0 0 1rem;
    color: black;
}


.profile_update_text_input_css:-webkit-autofill,
.profile_update_text_input_css:-webkit-autofill:hover,
.profile_update_text_input_css:-webkit-autofill:focus,
.profile_update_text_input_css:-webkit-autofill:active {
    background: rgba(255, 255, 255, 0.0);
    border: none;
    border-bottom: solid 2px #361500e6;
    outline: none;
    margin: 0 0 0 1rem;
    color: black;

}


.profile_update_textarea_input_css {
    background: rgba(255, 255, 255, 0.0);
    border: solid 2px black;
    outline: none;
    display: block;
    width: 98%;
    color: black;
}

.profile_upload_button {

}