.text_input_css {
    /*background-color: #361500e6;*/
    background: rgba(255, 255, 255, 0.0);
    border: none;
    border-bottom: solid 2px #361500e6;
    outline: none;
    margin: 0 0 0 1rem;
    color: #CC9544;
}
