<div class="container mt-3" style="color: #FF6363">
    {% if form.errors %}
        <div>
            < 제출 실패 >
        </div>
        {% for field in form %}
            {% for error in field.errors %}
                <div>
                    {{ field.label }} :
                    {{ error }}
                </div>
            {% endfor %}
        {% endfor %}

        {% for error in form.non_field_errors %}
            <div>
                <strong>{{ error }}</strong>
            </div>

        {% endfor %}
    {% endif %}

</div>
