{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block specific_css %}
    {# head block#}
    <link rel="stylesheet" type="text/css" href="{% static 'free_talk.css' %}">
{% endblock %}


{% block content %}

    <div class="container my-5">
        <div class="d-flex">
            <h3 class="me-auto mt-auto"> < {{ target_post.subject }} > </h3>
            <a
                    class="btn btn-secondary fs-5"
                    href="{% url 'free_talk:board' %}"
            >게시판으로 돌아가기
            </a>
            {# 로그인 되어있는 유저와 글의 작성자가 같은경우 수정 버튼 show #}
            {% if user.is_authenticated and target_post.author.user.pk == user.pk %}
                <a
                        class="btn btn-secondary fs-5 ms-3"
                        style="width: 6rem"
                        href="{% url 'free_talk:update' target_post.pk %}"
                >수정
                </a>
                <button
                        class="btn btn-secondary fs-5 ms-3"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse_delete_alert"
                        aria-expanded="false"
                        aria-controls="collapse_price_info"
                        style="width: 6rem"
                >삭제
                </button>
            {% endif %}
        </div>
        <div class="my-4 collapse" id="collapse_delete_alert">
            <p>
                본 글을 정말로 삭제 하시겠습니까?
            </p>
            <form action="{% url 'free_talk:delete' pk=target_post.pk %}" method="post">
                {% csrf_token %}
                <div>
                    <input type="submit" value="삭제합니다" class="btn fs-5"
                           style="width: 8rem; background-color: #8E3200; color: wheat">
                </div>
            </form>

            {# Show error massages #}
            <div>
                <span>{{ form.errors }}</span>
            </div>
            <br>
        </div>
        <div class="card detail_card_css mt-4">
            <div class="d-flex card-header detail_secondary_css">
                <span class="me-auto">작성자: {{ target_post.author.writer }}</span>
                <span class="">작성일: {{ target_post.create_date }}</span>
            </div>
            <div class="card-body">
                {% if target_post.content_image %}
                    <img src="{{ target_post.content_image.url }}" alt="첨부 이미지" style="max-height: 50vh">
                {% endif %}
                <div class="my-3 mx-3">
                    <pre class="card-text content_text_css">{{ target_post.content_text }}
                    </pre>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

