{% extends 'base.html' %}
{% load static %}
{% block specific_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users.css' %}">
{% endblock %}


{% block content %}
    <div class="container">

        {% if new_user_id %}
            <div class="my-5">
                <span class="message_css">{{ new_user_id }} 계정이 생성되었습니다</span>
            </div>
        {% endif %}
        <div class="container">
            <h1 class="title_css mt-5">Login</h1>
        </div>


        <form method="post" action="{% url 'users:login' %}">
            {% csrf_token %}
            {% include 'form_errors.html' %}
            <div class="my-1 mt-3">

                <label for="username">ID</label>
                <input type="text" class="text_input_css" name="username" id="username"
                       value="{{ form.username.value|default_if_none:'' }}">
            </div>
            <div class="my-1 mt-3">
                <label for="password">PASSWORD</label>
                <input type="password" class="text_input_css" name="password" id="password">
            </div>
            <button class="btn button_css my-1 mt-4" type="submit">login</button>
        </form>
    </div>

{% endblock %}