{% extends 'base.html' %}
{% load static %}

{% block specific_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="container">
            <h1 class="title_css mt-5">Signup</h1>
        </div>
        <div class="row mt-4">
            <form action="{% url 'users:create' %}" method="post">
                {% csrf_token %}

                <p>
                    <label for="{{ form.username.id_for_label }}">아이디</label>
                    <input
                            type="text"
                            name="{{ form.username.html_name }}"
                            id="{{ form.username.id_for_label }}"
                            class="text_input_css"
                            value="{{ form.username.value|default_if_none:'' }}"
                    >
                    {{ form.username.errors }}
                </p>
                <p>
                    <label for="{{ form.email.id_for_label }}">이메일</label>
                    <input
                            type="text"
                            name="{{ form.email.html_name }}"
                            id="{{ form.email.id_for_label }}"
                            class="text_input_css"
                            value="{{ form.email.value|default_if_none:'' }}"
                    >
                    {{ form.email.errors }}
                </p>
                <p>
                    <label for="{{ form.password1.id_for_label }}">비밀번호</label>
                    <input
                            type="password"
                            name="{{ form.password1.html_name }}"
                            id="{{ form.password1.id_for_label }}"
                            class="text_input_css"
                            value="{{ form.password1.value|default_if_none:'' }}"
                    >
                    {{ form.password1.errors }}
                </p>
                <p>
                    <label for="{{ form.password2.id_for_label }}">비밀번호 확인</label>
                    <input
                            type="password"
                            name="{{ form.password2.html_name }}"
                            id="{{ form.password2.id_for_label }}"
                            class="text_input_css"
                            value="{{ form.password2.value|default_if_none:'' }}"
                    >
                    {{ form.password2.errors }}
                </p>
                <p><input type="submit" value="제출" class="btn btn-secondary fs-5" style="width: 8rem;"></p>
            </form>
        </div>
    </div>
{% endblock %}